@{
    ViewData["Title"] = "Добро пожаловать на сайт ";
}

<div class="container">
    <div class="row main-title">
         <h2 class="text-header-post">
            Ваша личная онлайн визитка.
         </h2>
    </div>
  <div class="row">
    <div class="col-sm-6 col-sm-pull-6 main-title">
      <img src="~/img/main_page_photo.png" width="70%" id="mainPagePhoto"/>
    </div>
    <div class="col-sm-6 col-sm-pull-6 my-auto py-5">
        <div class="main-title">
            <h3 class="text-header-post">
                Делиться соц сетями еще не было так просто как сейчас.
            </h3>
        </div>
        <div class="post-text text-header-post">
            Произведите первое впечатление элегатно - поделившись лишь одной ссылкой. Удобство во всем.
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-60  mx-auto" src="~/img/facebook.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-60  mx-auto" src="~/img/instagram.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-60  mx-auto" src="~/img/telegram.png" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-60  mx-auto" src="~/img/monobank.png" alt="Four slide">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>