@{
    ViewData["Title"] = "Добро пожаловать на сайт ";
}

<div class="container align-items-center">
    <div class="row">
        <div class="h3">
            Ваша личная онлайн визитка.
        </div>
    </div>
  <div class="row">
    <div class="col">
      Одна из трёх колонок
    </div>
    <div class="col">
      Одна из трёх колонок
    </div>
  </div>
</div>