
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.main-title {
    display: flex;
    justify-content: center;
}

.text-header-post {
    text-align:center;
}

.row {
    margin-top: 10px;
}

.no-wrap{
    flex-wrap:nowrap;
    padding:0;
}

.img-list{
    margin:0;
    padding:0;
}

.auto-padding{
    vertical-align:middle;
}

a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.display-flex {
    display: flex;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.main-container-form {
    border-radius: 16px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}
.main-container-vizit-form {
    border-radius: 16px;
    border: 1px solid #9198e5;
    box-shadow: 0px 0px 10px #ccc;
    padding-top:4em;
    max-width:550px;
}

.img-profile {
    border-radius: 100px;
    filter: drop-shadow(0px 0px 10px #FFFFFF);
    width: 200px;
    height: 200px;
    object-fit: cover;
}
input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.PublicUserLink{
    visibility:hidden;
    position: absolute;
    max-height:0px;
    max-width:0px;
}
.vizit-back {
    background: linear-gradient(135deg, #e66465, #9198e5);
    color:#fff;
}
.vizit-avatar {
    border-radius: 100px;
    filter: drop-shadow(0px 0px 10px #FFFFFF);
    margin: 2em;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.main-link-container{
    color:black;
    max-width:auto !important;
    background-color:#fff;
    border-radius:15px;
    max-width:350px;
    padding:1em 1em 2em 1em;
    margin-bottom:2em;
}
.btn-copy {
    font-size: 0.8em;
    margin-top:1em;
}
.col-6 > a > img {
    width: 140px;
    height:40px;
    object-fit: cover;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom:5px;
}
.bg-light {
    background-color: rgba(5, 5, 5, 1);
}
.card-block {
    padding:1em;
}
#accordion{
    min-width:100%;
}
@media (prefers-color-scheme:dark) {
    .bg-light{
        background-color:rgba(5, 5, 5, 1);
    }
}