
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.main-title {
    display: flex;
    justify-content: center;
}

.text-header-post {
    text-align:center;
}

.row {
    margin-top: 10px;
}

.no-wrap{
    flex-wrap:nowrap;
    padding:0;
}

.img-list{
    margin:0;
    padding:0;
}

.auto-padding{
    vertical-align:middle;
}

a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.display-flex {
    display: flex;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body {
    margin: 0;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #eeff00;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

    .preloader__item:last-child {
        top: auto;
        bottom: 0;
        animation-delay: -1s;
    }

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%, 100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.main-container-form {
    border-radius: 16px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}
.main-container-vizit-form {
    border-radius: 16px;
    border: 1px solid #9198e5;
    box-shadow: 0px 0px 10px #ccc;
    padding-top:4em;
    max-width:550px;
}

.img-profile {
    border-radius: 100px;
    filter: drop-shadow(0px 0px 10px #FFFFFF);
    width: 200px;
    height: 200px;
    object-fit: cover;
}
input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.PublicUserLink{
    visibility:hidden;
    position: absolute;
    max-height:0px;
    max-width:0px;
}
.vizit-back {
    background: linear-gradient(135deg, #e66465, #9198e5);
    color:#fff;
}
.vizit-avatar {
    border-radius: 100px;
    filter: drop-shadow(0px 0px 10px #FFFFFF);
    margin: 2em;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.main-link-container{
    color:black;
    max-width:auto !important;
    background-color:#fff;
    border-radius:15px;
    max-width:350px;
    padding:1em 1em 2em 1em;
    margin-bottom:2em;
}
.btn-copy {
    font-size: 0.8em;
    margin-top:1em;
}
.col-6 > a > img {
    width: 140px;
    height:40px;
    object-fit: cover;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom:5px;
}
.card-block {
    padding:1em;
}
#accordion{
    min-width:100%;
}
#mainPagePhoto {
    border-radius:35px;
}
#success {
    background: #03a679;
    color: #f0f0f0;

}

.notify {
    left:25%;
    right:25%;
    position: absolute;
    top: 0px;
    width: auto;
    height: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: rgba(5, 200, 5, .6);
    overflow: hidden;
    box-sizing: border-box;
    transition: height .2s;
    border-radius:0px 0px 20px 20px;
    box-shadow: 0px 0px 5px #03a679;
}
.start-anim {
    animation: topToBottom ease 2s;
    -webkit-animation: topToBottom ease 2s;
    -moz-animation: topToBottom ease 2s;
    -o-animation: topToBottom ease 2s;
}

#notifyType:before {
    display: block;
}

.active {
    animation: topToBottom ease 3s;
    -webkit-animation: topToBottom ease 3s;
    -moz-animation: topToBottom ease 3s;
    -o-animation: topToBottom ease 3s;
    height: auto;
    padding: 2em;
}
@keyframes topToBottom {
    0% {
        top:-500px;
    }
    25% {
        top: 0px;
    }
    75%{
        top:0px;
    }
    100% {
       top:-500px;
    }
}


/*@media (prefers-color-scheme:dark) {
    body{
        background-color:#282828 !important;
    }
    .bg-light, footer{
        background-color: #121212 !important;
    }
    .text-dark, .navbar-brand, .text-header-post, .h1, .h2, .h3, .h4, .h5, .h6, .justify-content-center {
        color: white !important;
    }
        .text-dark:hover, .navbar-brand:hover, a.text-dark:focus, a.text-dark:hover {
            color: #e5e5e5 !important;
        }
    .navbar-light .navbar-toggler, .navbar-toggler-icon {
        color: white;
        border-color: white;
    }
}*/