@{
    ViewData["Title"] = "Oops...";
}
<div class="container justify-content-center">
    <div class="row">
        <h3 class="mx-auto">Oops...</h3>
    </div>
    <div class="row">
        <h4 class="mx-auto">Если вы видите эту страницу, значит запрашиваемой страницы не существует. (Как вы вообще попали сюда?)</h4>
    </div>
    <div class="row">
        <h4 class="mx-auto"><a asp-controller="Home" asp-action="Index">Можешь просто нажать на меня и я верну тебя на главную страницу!</a></h4>
    </div>
</div>